# ignore all pdfs in doc and any subdirectory
doc/**/*.pdf
docs/build
docs/guidev4.*

# ignore all *.pyc
*.pyc

# and .DS_Store
.DS_Store

# virtual environment
venv/

# don't include development work
development/